
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);
/* font works. Just remember to use the "font-family" in the future. */

*{
  margin: 0;
}

.arc-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: pink;
  width: 80%;
  margin: 0;
  margin-left: 10%;
  height: 99%;
  padding: 1%;
}

.arc-banner {
  width: 100%;
  height: 23%;
  flex-flow: column wrap-reverse;
}

.arc-title {
  align-self: flex-start;
  color: yellow;
}

.blerp{
  align-self: flex-end;
  color: green;
}

.arc-image  {
  display: flex;
  justify-content: center;
  align-items: center;

}

#image {
  margin-left: 15%;
  margin-right: 15%;
  width: 65%;
}

.content {

  width: 95%;
  overflow-y: scroll;
}
